body {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "content" "footer";
  margin: 0;
  background-color: #2e3136;
}

header {
  grid-area: header;
  background: linear-gradient(black, #2e3136);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 50px;
  gap: 50px;
}
.navbar a {
  text-decoration: none;
  color: lightgray;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.movies-container {
  display: flex;
  grid-area: content;
  justify-content: center;
}
.movie {
  display: flex;
  background-color: white;
  border-radius: 10px;
}

/* .footer {
    grid-area: footer;
} */