.logo {
    background-color: rgb(112, 118, 131);
    border: 1px solid;
}

.navbar {
    position: absolute;
    top: 3%;
    left: 45%;
    text-align: center;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 20px;

    a {
        padding-left: 120px;
        text-decoration: none;
        color: lightgray;
    }
}

.top-rated-movie-container {
    margin-top: 4rem;
    padding: 2em 50em;
    border: 10px black solid;
}

#top-rated-movie {
    position: absolute;

    &-title {
        position: absolute;
        top: 25%;
        left: 6%;
    }

    &-image {
        padding-left: 40%;
    }

    &-button-play {
        position: absolute;
        padding: 0.4em 2em;
        border-radius: 30px;
        top: 30%;
        left: 6%;
        background-color: #e60606;
        color: white;
        text-decoration: none;
    }
    &-button-info {
        position: absolute;
        padding: 0.4em 2em;
        border-radius: 30px;
        top: 30%;
        left: 10%;
        background-color: #e60606;
        color: white;
        text-decoration: none;
    }
}

#best-rated-movies-container {
    position: absolute;

    &-title {
        position: absolute;
        top: 62%;
        left: 48%;
    }

    &-arrow-left {
        position: absolute;
        display: flex;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(135deg);
        top: 80%;
        left: 33%;
    }

    &-arrow-right {
        position: absolute;
        display: flex;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(-45deg);
        top: 80%;
        left: 71%;
    }
}

#best-rated-movies-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 8%;
    padding-left: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

#action-category-container {
    position: absolute;

    &-title {
        display: flex;
        position: absolute;
        top: 100%;
        left: 50%;
    }
    &-arrow-left {
        position: absolute;
        display: flex;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(135deg);
        top: 115%;
        left: 33%;
    }

    &-arrow-right {
        position: absolute;
        display: flex;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(-45deg);
        top: 115%;
        left: 71%;
    }
}

#action-category-movies-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 8%;
    padding-left: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

#horror-category-container {
    position: absolute;

    &-title {
        position: absolute;
        top: 135%;
        left: 50%;
    }

    &-arrow-left {
        position: absolute;
        display: flex;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(135deg);
        top: 155%;
        left: 33%;
    }

    &-arrow-right {
        position: absolute;
        display: flex;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(-45deg);
        top: 155%;
        left: 71%;
    }
}

#horror-category-movies-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 8%;
    padding-left: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

#drama-category-container {
    position: absolute;

    &-title {
        position: absolute;
        top: 173%;
        left: 50%;
    }

    &-arrow-left {
        position: absolute;
        display: flex;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(135deg);
        top: 190%;
        left: 33%;
    }

    &-arrow-right {
        position: absolute;
        display: flex;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        transform: rotate(-45deg);
        top: 190%;
        left: 71%;
    }
}

#drama-category-movies-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 8%;
    padding-left: 5%;
    margin-left: 30%;
    margin-right: 30%;
}

.footer {
    margin-top: 5%;
    background-color: rgb(112, 118, 131);
    border: 1px solid;
    text-align: center;
    color: lightgray;
}