html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "listings" "footer";
  margin: 0;
  background-color: #2e3136;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: header;
  background: linear-gradient(black, #2e3136);
}

.navbar {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
  gap: 50px;
}
.navbar a {
  text-decoration: none;
  color: lightgray;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.carousel {
  display: flex;
  grid-area: listings;
  justify-content: center;
  margin-bottom: 5%;
}

#top-rated-movie {
  display: grid;
  border: 10px lightcoral solid;
}
#top-rated-movie .movie {
  display: grid;
}
#top-rated-movie .movie-title {
  display: grid;
  justify-content: center;
  align-content: center;
  color: white;
}
#top-rated-movie .movie-button-play {
  display: grid;
  height: 30px;
  justify-content: center;
  align-content: center;
  padding: 10px 10px;
  border-radius: 30px;
  background-color: #e60606;
  color: white;
  text-decoration: none;
}
#top-rated-movie .movie-button-info {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 10px 10px;
  border-radius: 30px;
  background-color: #e60606;
  color: white;
  text-decoration: none;
}
#top-rated-movie .movie .movies-carousel {
  display: grid;
}

#best-rated-movies {
  display: grid;
}
#best-rated-movies .movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}
#best-rated-movies .movies-arrow-left {
  display: grid;
  justify-self: right;
  align-self: center;
  grid-row-start: 2;
  grid-column-start: 1;
  width: 20px;
  height: 20px;
  margin-right: 5%;
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  transform: rotate(135deg);
  visibility: visible;
}
#best-rated-movies .movies-arrow-right {
  display: grid;
  justify-self: left;
  align-self: center;
  grid-row-start: 2;
  grid-column-start: 3;
  width: 20px;
  height: 20px;
  margin-left: 5%;
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  transform: rotate(-45deg);
}
#best-rated-movies .movies-title {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
  color: white;
}
#best-rated-movies .movies .movies-carousel {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 10px;
}

#adventure-category-movies {
  display: grid;
}
#adventure-category-movies .movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}
#adventure-category-movies .movies-arrow-left {
  display: grid;
  justify-self: right;
  align-self: center;
  grid-row-start: 2;
  grid-column-start: 1;
  width: 20px;
  height: 20px;
  margin-right: 5%;
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  transform: rotate(135deg);
}
#adventure-category-movies .movies-arrow-right {
  display: grid;
  justify-self: left;
  align-self: center;
  grid-row-start: 2;
  grid-column-start: 3;
  width: 20px;
  height: 20px;
  margin-left: 5%;
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  transform: rotate(-45deg);
}
#adventure-category-movies .movies-title {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
  color: white;
}
#adventure-category-movies .movies .movies-carousel {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 10px;
}

#horror-category-movies {
  display: grid;
}
#horror-category-movies .movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}
#horror-category-movies .movies-arrow-left {
  display: grid;
  justify-self: right;
  align-self: center;
  grid-row-start: 2;
  grid-column-start: 1;
  width: 20px;
  height: 20px;
  margin-right: 5%;
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  transform: rotate(135deg);
}
#horror-category-movies .movies-arrow-right {
  display: grid;
  justify-self: left;
  align-self: center;
  grid-row-start: 2;
  grid-column-start: 3;
  width: 20px;
  height: 20px;
  margin-left: 5%;
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  transform: rotate(-45deg);
}
#horror-category-movies .movies-title {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
  color: white;
}
#horror-category-movies .movies .movies-carousel {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 10px;
}

#crime-category-movies {
  display: grid;
}
#crime-category-movies .movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
}
#crime-category-movies .movies-arrow-left {
  display: grid;
  justify-self: right;
  align-self: center;
  grid-row-start: 2;
  grid-column-start: 1;
  width: 20px;
  height: 20px;
  margin-right: 5%;
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  transform: rotate(135deg);
}
#crime-category-movies .movies-arrow-right {
  display: grid;
  justify-self: left;
  align-self: center;
  grid-row-start: 2;
  grid-column-start: 3;
  width: 20px;
  height: 20px;
  margin-left: 5%;
  border: 2px solid white;
  border-left: 0;
  border-top: 0;
  transform: rotate(-45deg);
}
#crime-category-movies .movies-title {
  display: grid;
  grid-row-start: 1;
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
  color: white;
}
#crime-category-movies .movies .movies-carousel {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
  justify-items: center;
  align-items: center;
  grid-auto-flow: column;
  gap: 10px;
}

footer {
  background-color: #707683;
  border: 1px black solid;
  text-align: center;
  color: lightgray;
}