header {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

nav {
    flex-basis: 340%;
    display: flex;
}

nav a {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    flex-basis: 4%;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

html {
    background-color: black;
}

div.movies-container {
    display: flex;
    color: white;
    align-items: center;
}

div.movies-container > div.bestmovies {
    color: blue;
    display: flex;
}

div.movies-container > div.bestmovie {
    color: pink;
    display: flex;
    align-items: center;
}

div.movies-container > div.cat1 {
    color: yellow;
    display: flex;
}

div.movies-container > div.cat2 {
    color: lightgreen;
    display: flex;
}

div.movies-container > div.cat3 {
    color: lightskyblue;
    display: flex;
}
