header {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

h1 {
    color: red;
    flex-basis: 40%;
}

nav {
    flex-basis: 340%;
    display: flex;
}

nav a {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    flex-basis: 4%;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

html {
    background-color: black;
}